body{
  text-align: center;
  font-family: "Merriweather"
}

h2 {
  font-size: 35px;
}

/* About  */
.container-fluid {
  padding: 3% 15%;
}

#about {
  background-color: #a7d7c5;
}

.intro {
  padding-top: 7%;
}

.into-cl {
  margin-top: 55px;
  text-align: left;
}

h6 {
  font-family: "bad script";
  font-size: 20px;
}

h1 {
  font-family: "Open sans";
  font-size: 45px;
}

.intro-txt {
  font-family: "Bad Script";
  font-size: 20px;
}

.title-img {
  width: 50%;
}

/* strenghts */
#strenghts {
  padding: 3% 15%;
}

.h2-strg {
  padding-bottom: 7%;
  font-family: "open sans";
  font-weight: bold;
}

.fa-strg {
  color: #5c8d89;
}

.fa-strg:hover {
  color: #e08f62;
}

.strg-p {
  font-size: 20px;
  padding-top: 7%;
}

/* experience */
#exp {
  padding: 5% 15%;
  background-color: #f4f9f4;
}

.h2-exp {
  padding-bottom: 4%;
  font-family: "Open Sans";
  font-weight: bold;
}

.h4-exp {
  font-weight: bold;
}

.vzajemna {
  padding-bottom: 50px;
}

/* skills */

#skills {
  padding: 3% 15%;
}

.h2-skill {
  padding-bottom: 3%;
  font-family: "open sans";
  font-weight: bold;
}

.jez {
  font-style: italic;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.h5-lang {
  padding-bottom: 2%;
}

/* Contact */
#contact {
    background-color: #74b49b;
    padding: 3% 15%;
    color: white;
}

.h2-touch {
font-family: "open sans";
}

.btn {
margin-top: 3%;
}

.btn:hover {
  color: #a35638;
}

.bottom-container {
  padding: 10px;
  background-color: #a35638;
  color: #FFF;
}

.fa-linkd {
  padding-bottom: 15px;
  color: #fff;
}

.copyright {
  font-size: 10px;
  margin-bottom: 2px;
}
